
  @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: rgb(191, 230, 253);
}
.links{
    display: inline;

}
#navbar .links a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 100;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    opacity: .70;
    transition: 0.4s;
}
#navbar #links a:hover{opacity: 1; transition: 0.4s;}
#yt{background-color: red; color: rgb(255, 255, 255);}
#fb{background-color: rgb(24, 115, 253); color: white;}
#dc{background-color: rgb(113, 130, 216); color: rgb(255, 255, 255);}
#rd{background-color: rgb(241, 101, 59); color: white;}
#twt{background-color: rgb(63, 203, 228); color: rgb(255, 255, 255);}
.rounded{border-radius: 5px;}
#links {display: inline}

.banner{

    background-image: url(coffeebanner.jpg);
    background-repeat: no repeat;
    width: 900px;
    height: 280px;
}

.banner h2{
    color: #3b3229;
    font-family: 'DM Serif Display', serif;
    font-family: 'Young Serif', serif;
}
.banner h2 span{
    color:#88888E
}
.banner p{
    color: #ffffff;
    margin-bottom: 20px;
}
    
.banner a{
    padding: 10px;
    text-decoration: none;
    background-color: #c2b2a3;
    text-transform: uppercase;
    color: black;
}

    
